*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  padding: 0;
  margin: 0;
}

.max-width {
  max-width: 1395px;
}

@media only screen and (max-width: 1395px) {
  .max-width {
    padding: 0 10px;
  }
}

.margin-zero-auto {
  margin: 0 auto;
}

.main-container {
  position: relative;
}

.header-container {
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-space {
  min-height: 7.5rem;
  width: 100%;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.fixed-header-shadow {
  -webkit-box-shadow: 0 4px 30px -30px black;
  -moz-box-shadow: 0 4px 30px -30px black;
  box-shadow: 0 4px 30px -30px black;
}

.logo-container {
  width: 5.625rem;
  height: 3.75rem;
  position: relative;
}

.circle {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
}
.circle-1 {
  position: absolute;
  left: 0;
  background-color: #333333;
  z-index: 1;
}

.circle-2 {
  position: absolute;
  right: 0;
  background-color: #808080;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  column-gap: 2.6rem;
}

.navbar li {
  list-style: none;
  font-weight: 600;
}

.navbar li a {
  color: #000;
  text-decoration: none;
}

.navbar li a:hover {
  color: #808080;
}

.body-container {
  position: relative;
  z-index: 0;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  line-height: 2rem;
  background-color: #333333;
  border-radius: 2.875rem;
  color: white;
  outline: none;
  border: 1px solid #333333;
  transition: 300ms ease-in;
}

.btn:hover {
  background-color: white;
  color: #333333;
}

.main-heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.desc {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  color: #808080;
}

.check-out {
  margin: 0 auto;
  width: fit-content;
}

.ellipse-container {
  position: relative;
  display: inline-block;
  width: 13.75rem;
  height: 4.375rem;
}
.ellipse {
  position: absolute;
  top: 0;
}
.ellipse-1 {
  left: 0;
  z-index: 1;
}
.ellipse-2 {
  left: 53px;
  z-index: 2;
}
.ellipse-3 {
  right: 48px;
  z-index: 3;
}
.ellipse-4 {
  right: 0;
  z-index: 4;
}

.middle-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
  margin: 2rem auto;
}

.middle-grid h2 {
  font-size: 2rem;
  font-weight: 600;
}

.middle-grid p {
  font-size: 1rem;
  font-weight: 600;
  color: #4d4d4d;
  width: calc(100% - 64px);
}

.box-1 {
  background-color: #dbecff;
  padding: 5rem 3.125rem;
  display: flex;
  flex-direction: row;
}

.box-1-image {
  width: 12.688rem;
  height: 11.25rem;
}

.box-2 {
  background-color: #ffe9ca;
  grid-column-start: 2;
  grid-column-end: auto;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 5.625rem 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box-2-logos {
  /* width: 24.25rem; */
  /* height: 20.75rem; */
  gap: 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.column-cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.logo-box {
  /* width: 6.25rem; */
  /* height: 6.25rem; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 1.125rem;
}

.logo-box img {
  width: 4rem;
}

.box-3 {
  background-color: #ffe5f9;
  padding: 5.625rem 3.125rem;
  position: relative;
}
.box-3-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  width: 10.875rem;
}

/* //////////////////////////////
//////////////////////////////////
///////////////////////////////// */

/* Logos moving section */

.company-logo-container {
  /* min-width: 280px; */
  min-width: 17.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #7a7a7a;
  border-right: 1px solid #7a7a7a;
}

.company-logo-container img {
  /* width: 64px; */
  width: 4rem;
  height: auto;
  opacity: 50%;
  filter: grayscale(100%);
}

.scroller {
  height: 10.5rem;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* //////////////////////////////
//////////////////////////////////
///////////////////////////////// */

.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tools h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
  margin: 6.688rem auto 5.188rem auto;
}

.bottom-grid h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.bottom-grid p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #4d4d4d;
  line-height: 24px;
}

.card-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px #0000000d;
  display: flex;
}

.card p {
  margin: 0;
}

.card img {
  max-width: 2.5rem;
  height: auto;
}

.big-card {
  padding: 1.875rem;
  flex-direction: column;
  justify-content: space-evenly;
}

.small-card {
  padding: 1.25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;
}

h3 {
  margin: 0;
  margin-bottom: 0.625rem;
}

.card-6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* media query at 1085px */
@media only screen and (max-width: 1085px) {
  .collapse {
    display: none;
  }

  .show {
    display: inherit;
  }

  .hamb {
    display: inline-flex !important;
    flex-direction: column;
    justify-content: space-between;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-space {
    min-height: 3.5rem;
  }

  .navbar {
    flex-direction: column;
    row-gap: 1rem;
  }

  .middle-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .box-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 2.125rem;
  }

  .box-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: auto;
    padding: 2rem 2.125rem;
  }

  .box-3 {
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 2rem 2.125rem;
  }

  .tools {
    flex-direction: column;
  }

  .tools h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 900px) {
  .bottom-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .small-card {
    flex-direction: column;
  }

  .big-card {
    padding: 1.25rem;
    gap: 1.25rem;
  }

  .card-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .card-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .card-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .card-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .card-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .card-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .logo-box img {
    width: 3rem;
  }

  .box-3-image {
    width: 6.875rem;
  }
}

@media only screen and (max-width: 488px) {
  .bottom-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 6);
  }

  .card-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .card-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .card-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .card-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .card-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .card-6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .logo-box img {
    width: 2rem;
  }

  .box-3-image {
    width: 3.875rem;
  }
}

.hamb {
  width: 35px;
  height: 30px;
  position: absolute;
  /* border: 1px solid red; */
  top: 25px;
  right: 10px;
  display: none;
}

.hamb-row {
  width: 100%;
  height: 5px;
  background-color: #7a7a7a;
  border-radius: 8px;
  transform-origin: 0 50%;
  transition: all 0.3s;
}

.hamb-row-1 {
  transform: rotateZ(45deg);
  /* transform-origin: 0 50%; */
}

.hamb-row-2 {
  /* transform: rotateZ(45deg); */
  visibility: hidden;
  opacity: 0;
}

.hamb-row-3 {
  transform: rotateZ(-45deg);
  /* transform-origin: 0% 50%; */
}
